/* CONTAINER */

.form-container
{
    text-align: center;

    background-color: lightblue;

    padding-top: 4rem;
    padding-bottom: 2rem;

}




/* INPUTS */

.city-box
{
    padding-bottom: 1rem;
}

.input-city, .input-country
{
    border: none;
}

.country-box
{
    padding-bottom: 1rem;
}

.button
{
    border: none;
}